.nav 
	{
	background-color:#A9A9A9;
	}

.nav a
	{
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	}

.nav li
	{
	padding:10px;
	display:inline;
	}

.main
	{
	float:right;
	width:1000px;
	color:#191970;
	padding-left:10px;
	overflow-y: auto;
	}

.main h3
	{
	font-size:30px;
	}

.main h2
	{
	font-size:60px;
	text-align:center;
	}

.main p
	{
	font-size:30px;
	}

.main a
	{
	color:#fff;
	text-decoration:underline;
	}

.side
	{
	width:285px;
	float:left;
	color:#fff;
	background-color:#191970;
	border: 1px solid #191970;
	font-size:20px;
	padding-bottom: 10px;
	}

.side ul
	{
	padding-top: 10px;
	}

.side li
	{
	white-space: nowrap;
	padding-top:30px;
	}

.side a
	{
	color:#fff;
	}

.footer
	{
	text-align:center;
	font-size:20px;
	color:#fff;
	background-color:#A9A9A9;
	clear:both;
	margin-bottom:0px;
	bottom:0; 
	}

.footer a
	{
	color: #000000;
	}

.side img
	{
	padding: 20px;
	}

a
	{
	text-decoration: none;
	}

a:hover
	{
	color:black;
	}

.main .field
	{
	box-sizing:border-box;
	font-size: 20px;
<<<<<<< Updated upstream
=======
	border: 1px solid #191970;
	padding: 10px;
	}

.field
	{
	font-size: 20px;
	padding: 30px;
	}

.field a
	{
	color: #191970;
	}

.br
	{
	padding: 30px;
>>>>>>> Stashed changes
	}